<div
  class="min-h-60 w-80 space-y-10 rounded-xl bg-success p-6 shadow-xl md:w-[640px]"
>
  <div class="flex items-center justify-between">
    <p>
      <span class="bg-warning p-1 text-3xl font-semibold text-primary">{{
        currentQuestionIndex() + 1
      }}</span>
      <span class="p-1 font-medium">/{{ numberOfQuestions }}</span>
    </p>
    <img class="h-20 w-20" [src]="avatarPath" alt="category icon" />
  </div>
  @if (errorMessage$ | async; as errorMessage) {
    <quiz-ui-error-notification
      [errorMessage]="errorMessage"
      (tryAgainButtonClick)="loadQuestion()"
    ></quiz-ui-error-notification>
  } @else if (questions().length === 0) {
    <quiz-ui-spinner></quiz-ui-spinner>
  } @else {
    <h5 class="text-2xl-plus font-semibold md:text-3xl">
      <p>Let's begin with this</p>
      <span class="bg-error" [innerHTML]="currentQuestion().category"></span>
      <p [innerHTML]="currentQuestion().question"></p>
    </h5>

    <form class="flex flex-col items-center">
      <quiz-ui-radio-group
        [options]="currentQuestion().answers"
        [optionControl]="radioButtonControl"
      ></quiz-ui-radio-group>
    </form>
    <div class="flex items-center justify-between">
      <quiz-ui-button
        class="text-shade"
        [variant]="'ghost'"
        [disabled]="isFirstQuestion()"
        (buttonClick)="previousQuestion()"
        ><svg-icon
          [src]="'assets/icons/chevron-left.svg'"
          [svgClass]="'h-6 w-6 text-shade'"
          [applyClass]="true"
        ></svg-icon>
        <span class="md:hidden">Prev</span>
        <span class="hidden md:inline">Prev question</span></quiz-ui-button
      >
      @if (isLastQuestion()) {
        <quiz-ui-button
          [variant]="'accent'"
          [disabled]="!radioButtonControl.valid"
          route="/statistics"
        >
          Finish the quiz</quiz-ui-button
        >
      } @else {
        <quiz-ui-button
          [variant]="'accent'"
          [disabled]="!radioButtonControl.valid"
          (buttonClick)="nextQuestion()"
        >
          <span class="md:hidden">Next</span>
          <span class="hidden md:inline">Next question</span>
          <svg-icon
            [src]="'assets/icons/chevron-left.svg'"
            [svgClass]="'h-6 w-6 text-bright transform rotate-180'"
            [applyClass]="true"
          ></svg-icon
        ></quiz-ui-button>
      }
    </div>
  }
</div>
