<div class="w-80 space-y-7 rounded-xl bg-success p-4 shadow-xl md:w-[640px]">
  <div class="flex items-center justify-between">
    <p>
      <span class="bg-warning p-1 text-3xl font-semibold text-primary">1</span>
      <span class="p-1 font-medium">/10</span>
    </p>
    <img class="h-20 w-20" [src]="avatarPath" alt="category icon" />
  </div>
  <h5 class="text-2xl-plus font-semibold md:text-3xl">
    Let's begin with this
    <span class="bg-error p-1">legendary pop group</span>
    <p>What's their name?</p>
  </h5>

  <form
    class="mb-9 flex flex-col flex-wrap items-center justify-center space-y-3"
  >
    @for (option of mockOptions; track option.id) {
      <div class="flex w-40 items-center justify-start">
        <label
          [for]="option.id"
          class="flex cursor-pointer items-center text-black peer-checked:text-bright"
        >
          <input
            type="radio"
            name="optionRadio"
            [value]="option.id"
            [id]="option.id"
            [checked]="option.checked || null"
            class="peer hidden"
          />
          <span
            class="mr-2 flex h-5 w-5 items-center justify-center rounded-full border-4 border-shade bg-bright peer-checked:bg-error"
          >
            <span class="h-3 w-3 rounded-full peer-checked:bg-error"></span>
          </span>
          {{ option.label }}
        </label>
      </div>
    }
  </form>
  <div class="mt-28 flex items-center justify-between">
    <quiz-ui-button class="text-shade" [variant]="'ghost'"
      ><svg-icon
        [src]="'assets/icons/chevron-left.svg'"
        [svgClass]="'h-6 w-6 text-bright'"
        [applyClass]="true"
      ></svg-icon>
      <span class="md:hidden">Prev</span>
      <span class="hidden md:inline">Prev question</span></quiz-ui-button
    >
    <quiz-ui-button [variant]="'accent'">
      <span class="md:hidden">Next</span>
      <span class="hidden md:inline">Next question</span>
      <svg-icon
        [src]="'assets/icons/chevron-right.svg'"
        [svgClass]="'h-6 w-6 text-bright'"
        [applyClass]="true"
      ></svg-icon
    ></quiz-ui-button>
  </div>
</div>
