<form
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
  class="mb-6 rounded-lg bg-primary p-6 shadow-lg"
>
  <!-- Name Fields -->
  <div class="mb-4 flex gap-4">
    <div class="flex-1">
      <input
        type="text"
        formControlName="first_name"
        placeholder="First Name"
        pInputText
        class="w-full"
      />
      @if (
        userForm.get('first_name')?.touched &&
        userForm.get('first_name')?.invalid
      ) {
        <span class="mt-1 text-sm text-red-500">First name is required</span>
      }
    </div>
    <div class="flex-1">
      <input
        type="text"
        formControlName="last_name"
        placeholder="Last Name"
        pInputText
        class="w-full"
      />
      @if (
        userForm.get('last_name')?.touched && userForm.get('last_name')?.invalid
      ) {
        <span class="mt-1 text-sm text-red-500">Last name is required</span>
      }
    </div>
  </div>

  <div class="mb-4 flex gap-4">
    <!-- Email Field -->
    <div class="flex-1">
      <input
        type="email"
        formControlName="email"
        placeholder="Email"
        pInputText
        class="w-full"
      />
      @if (userForm.get('email')?.touched && userForm.get('email')?.invalid) {
        <span class="mt-1 text-sm text-red-500"
          >Please enter a valid email</span
        >
      }
    </div>
    <!-- Date of Birth Field -->
    <div class="w-full flex-1">
      <p-datepicker
        formControlName="dob"
        placeholder="Date of Birth"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        class="w-full"
      ></p-datepicker>
      @if (userForm.get('dob')?.touched && userForm.get('dob')?.invalid) {
        <span class="mt-1 text-sm text-red-500">Date of birth is required</span>
      }
    </div>
  </div>

  <!-- Interests Field -->
  <div class="mb-6">
    <input
      type="text"
      formControlName="interests"
      placeholder="Interests"
      pInputText
      class="w-full"
    />
  </div>

  <!-- Form Buttons -->
  <div class="flex gap-3">
    <button
      pButton
      type="submit"
      [disabled]="!userForm.valid"
      label="Create"
      icon="pi pi-check"
      styleClass="p-button-success"
    ></button>
    <button
      pButton
      type="button"
      (click)="closeForm()"
      label="Cancel"
      icon="pi pi-times"
      styleClass="p-button-outlined"
    ></button>
  </div>
</form>
