.user-dialog-dark {
  background-color: #27282c;
  border: 1px solid #dbdbdd;
  border-radius: 25px;
  box-shadow: 0 8px 10px rgba(207, 207, 207, 50%);

  .mat-mdc-dialog-actions,
  .mat-mdc-dialog-content,
  .mat-mdc-dialog-title {
    background-color: #27282c;
    color: white;
  }

  .mat-mdc-dialog-content {
    padding: 0 10px;
  }

  .mat-mdc-dialog-title {
    margin: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .mat-mdc-form-field {
    width: 100%;

    .mat-mdc-form-field-label {
      color: rgba(255, 255, 255, 70%);
    }

    .mat-mdc-input-element {
      color: black;
    }

    .mat-mdc-form-field-required-marker {
      color: #f44336;
    }
  }

  .text-error,
  .mat-mdc-error {
    color: #f44336;
  }

  .mat-datepicker-toggle {
    color: rgba(255, 255, 255, 70%);
    display: flex;
    justify-content: center;
  }

  .mat-mdc-dialog-actions {
    gap: 8px;
    padding-top: 16px;
  }

  .mat-mdc-button {
    &[color='primary'] {
      background-color: #1f42a2;
      color: white;
    }

    &[disabled] {
      background-color: rgb(119, 118, 118);
      color: white;
    }
  }
}
