.dark-theme-table {
  background-color: #1e1e1e;
  color: white;

  .mat-mdc-table {
    background-color: #1e1e1e;
    color: white;
  }

  .mat-mdc-header-row {
    background-color: #2d2d2d;
  }

  .mat-mdc-header-cell {
    color: #fff;
    font-weight: bold;
  }

  .mat-mdc-row {
    background-color: #1e1e1e;

    &:nth-child(odd) {
      background-color: #262626;
    }

    &:hover {
      background-color: #333;
    }
  }

  .mat-mdc-cell {
    border-bottom-color: #3d3d3d;
    color: #e0e0e0;
  }

  // Style for the button
  .mat-icon-button {
    color: #f44;

    &:hover {
      background-color: rgba(255, 68, 68, 10%);
    }
  }
}

.user-row {
  cursor: pointer;
}

.user-row:hover {
  background-color: rgba(0, 0, 0, 4%);
}
