<div class="flex flex-col items-center justify-center gap-5 p-7">
  <h2>
    <span class="py-2 text-4xl font-semibold md:text-6xl-plus"
      >Your Score
    </span>
    <span class="text-4xl text-error md:text-7xl">:</span>
  </h2>
  <p>
    <span class="bg-warning p-1 text-3xl font-semibold text-primary">8</span>
    <span class="p-1 font-medium">/10</span>
  </p>
  <h6 class="text-2xl font-semibold">24 min</h6>
  <p class="text-center">
    Good try! Why not have another go? You might get a bigger score!
  </p>

  <div class="min-h-10 min-w-4 bg-bright">
    <p class="text-3xl font-bold text-secondary">My statistics</p>
  </div>

  <quiz-ui-button class="my-4" variant="accent" route="/"
    >Back on main page</quiz-ui-button
  >
</div>
