<div class="flex flex-col items-center justify-center gap-5 p-7">
  <quiz-ui-quiz-feedback [lastQuizData]="lastQuizData"></quiz-ui-quiz-feedback>

  <div
    class="flex flex-col items-center justify-center rounded-3xl bg-bright p-7"
  >
    <p class="mb-5 text-3xl font-bold text-primary">My statistics</p>

    <div class="grid max-w-md grid-cols-2 gap-3 text-sm text-primary">
      <p class="font-semibold">Quizzes Completed:</p>
      <p>{{ userStatistic().numberOfQuizzes }}</p>

      <p class="font-semibold">Questions:</p>
      <p>{{ userStatistic().numberOfAllQuestions }}</p>

      <p class="font-semibold">Avg Time per Quiz:</p>
      <p>{{ userStatistic().averageTimePerOneQuiz | timeFormat }}</p>
    </div>

    <div class="flex flex-wrap items-center gap-5">
      <quiz-ui-donut-chart
        [userStatistic]="userStatistic()"
      ></quiz-ui-donut-chart>
    </div>
  </div>

  <quiz-ui-button class="my-4" variant="accent" route="/"
    >Back on main page</quiz-ui-button
  >
</div>
