<div class="flex gap-2">
  <span
    class="h-10 w-10 rounded-sm"
    [style.background-color]="backgroundColor()"
  >
  </span>
  <div class="flex flex-col">
    <div [class.space-x-2]="hasQuestionStats">
      <span class="text-primary"
        >{{ value }}{{ item().name === 'Average time' ? ' min' : '' }}</span
      >
      @if (hasQuestionStats) {
        <span class="text-sm text-success"
          >{{ item().numberOfRightQ }} right</span
        >
        <span class="text-sm text-error"
          >{{ item().numberOfWrongQ }} wrong</span
        >
      }
    </div>
    <span class="text-xs text-secondary">{{ item().extra }}</span>
  </div>
</div>
