<div class="flex min-h-[calc(100vh-5rem)] flex-col items-center">
  <div class="my-20 text-center md:mt-32">
    <span class="p-4 text-6xl-plus font-semibold md:text-7xl">Make your</span>
    <span class="ml-2 inline-block">
      <span class="bg-warning text-5xl-plus font-light text-primary">
        choice
      </span>
      <span class="text-6xl text-error md:text-7xl">.</span>
    </span>
  </div>

  <quiz-ui-button route="/catalog" (buttonClick)="handleButtonClick()">
    Let's play
  </quiz-ui-button>
</div>
