<div class="flex flex-wrap items-center justify-center gap-5">
  <ngx-charts-pie-chart
    [results]="donutData"
    [animations]="true"
    [doughnut]="true"
    [arcWidth]="0.5"
    [scheme]="colorScheme"
    [view]="[240, 240]"
  >
  </ngx-charts-pie-chart>

  <div class="flex flex-col gap-3">
    @for (item of donutData; track item.name) {
      <quiz-ui-chart-legend-item
        [item]="item"
        [backgroundColor]="getColor(item.name)"
      >
      </quiz-ui-chart-legend-item>
    }
  </div>
</div>
