<div class="flex flex-col flex-wrap items-center">
  <h1 class="mt-20 text-center">
    <span class="p-4 text-4xl font-semibold md:text-6xl-plus">Choose your</span>
    <span class="ml-2 inline-block">
      <span class="bg-warning text-5xl-plus font-light text-primary">
        Quiz
      </span>
      <span class="text-5xl text-bright md:text-7xl">.</span>
    </span>
  </h1>

  @if (isLoading$ | async) {
    <quiz-ui-spinner></quiz-ui-spinner>
  } @else {
    <div class="m-4 flex flex-wrap items-center justify-center gap-6">
      @for (category of categories$ | async; track category.id) {
        <quiz-quiz-card [quizCategory]="category" />
      }
    </div>
    <quiz-ui-button class="m-4" route="/quiz"> I'm lucky </quiz-ui-button>
  }
</div>
