.login-card {
  background-color: transparent;
  margin: 0 auto;
  margin-top: 100px;
  width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}

:host ::ng-deep .mat-mdc-raised-button.mat-mdc-button-disabled {
  background-color: #f5f5f5; // Custom disabled background for primary buttons
}
