@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

html,
body {
  height: 100%;
}

.user-dialog-dark {
  .mat-mdc-dialog-container {
    padding: 20px;
  }

  .mat-mdc-dialog-surface,
  .mat-mdc-dialog-content,
  h2.mat-dialog-title {
    color: white;
  }

  .mat-mdc-dialog-content {
    margin-bottom: 10px;
    padding: 0 10px;
  }

  h2.mat-dialog-title {
    margin-bottom: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .mat-mdc-form-field {
    width: 100%;

    .mat-mdc-form-field-label {
      color: rgba(255, 255, 255, 70%);
    }

    .mat-mdc-form-field-focus-overlay {
      background-color: rgba(255, 255, 255, 10%);
    }

    .mat-mdc-input-element {
      color: white;
    }

    .mat-mdc-form-field-ripple {
      background-color: #7b1fa2;
    }

    .mat-mdc-form-field-required-marker {
      color: #f44336;
    }
  }

  .text-error,
  .mat-mdc-error {
    color: #f44336;
  }

  .mat-datepicker-toggle {
    color: rgba(255, 255, 255, 70%);
    display: flex;
    justify-content: center;
  }

  .mat-mdc-dialog-actions {
    gap: 8px;
    padding-top: 16px;
  }

  .mat-mdc-button {
    color: white;

    &[color='primary'] {
      background-color: #1f42a2;
    }

    &[disabled] {
      background-color: gray;
    }
  }
}

dark-theme-table {
  background-color: #1e1e1e;
  color: white;

  .mat-mdc-table {
    background-color: #1e1e1e;
    color: white;
  }

  .mat-mdc-header-row {
    background-color: #2d2d2d;
  }

  .mat-mdc-header-cell {
    color: #fff;
    font-weight: bold;
  }

  .mat-mdc-row {
    background-color: #1e1e1e;

    &:nth-child(odd) {
      background-color: #262626;
    }

    &:hover {
      background-color: #333;
    }
  }

  .mat-mdc-cell {
    border-bottom-color: #3d3d3d;
    color: #e0e0e0;
  }

  // Style for the button
  .mat-icon-button {
    color: #f44;

    &:hover {
      background-color: rgba(255, 68, 68, 10%);
    }
  }
}
