<nav class="flex items-center justify-between md:mx-5 md:p-4">
  <div class="flex items-center p-2">
    <a [routerLink]="''"
      ><img
        src="assets/images/logo.svg"
        alt="Company Logo"
        class="min-h-[40px] min-w-[74px]"
    /></a>
  </div>

  <div class="mx-auto hidden items-center justify-between space-x-8 md:flex">
    <ul class="flex space-x-6">
      @for (item of navItems; track $index) {
        <li class="duration-100 ease-in md:hover:scale-125">
          <a
            [routerLink]="item.link"
            routerLinkActive="font-semibold"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ item.label }}</a
          >
        </li>
      }
    </ul>
  </div>

  <div class="hidden items-center space-x-8 md:flex">
    <quiz-ui-button variant="accent"> Login </quiz-ui-button>
  </div>

  <!-- Mobile Menu Button -->
  <quiz-ui-button
    class="z-50 p-2 md:hidden"
    variant="menu"
    size="sizeLess"
    (buttonClick)="toggleMenu()"
  >
    <svg-icon
      [src]="isMenuOpen() ? 'assets/icons/close.svg' : 'assets/icons/menu.svg'"
      [svgClass]="'h-6 w-6 text-bright'"
      [applyClass]="true"
    ></svg-icon>
    @if (!isMenuOpen()) {
      <span class="mx-1">Menu</span>
    }
  </quiz-ui-button>

  <!-- Mobile Menu -->
  <div
    class="fixed top-0 w-full rounded-sm bg-muted p-10 transition-transform duration-500 ease-in-out md:hidden"
    [class.-translate-y-full]="!isMenuOpen()"
    [class.translate-y-0]="isMenuOpen()"
  >
    <div class="float-end flex flex-col">
      <ul class="flex flex-col">
        @for (item of navItems; track $index) {
          <li>
            <a
              [routerLink]="item.link"
              class="block py-3 text-lg font-semibold"
              (click)="closeMenu()"
            >
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
      <div class="mt-10 flex items-center">
        <quiz-ui-button variant="accent"> Login </quiz-ui-button>
      </div>
    </div>
  </div>
</nav>
