<nav class="relative flex items-center justify-between p-4">
  <!-- Logo -->
  <div class="flex items-center">
    <img class="mr-20" src="assets/images/logo.svg" alt="Company Logo" />

    <!-- Desktop Navigation -->
    <div class="hidden items-center space-x-8 md:flex">
      <!-- Menu Items -->
      <ul class="flex space-x-6">
        @for (item of navItems; track $index) {
          <li>
            <a [routerLink]="item.link" class="text-bright hover:text-white">{{
              item.label
            }}</a>
          </li>
        }
      </ul>
    </div>
  </div>
  <!-- Desktop Buttons -->
  <div class="hidden items-center space-x-8 md:flex">
    <quiz-ui-button> Button </quiz-ui-button>
    <quiz-ui-button> Button </quiz-ui-button>
  </div>

  <!-- Mobile Menu Button -->
  <button
    class="p-2 text-white md:hidden"
    (click)="isMenuOpen = !isMenuOpen"
    aria-label="Toggle menu"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      [class.hidden]="isMenuOpen"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M4 6h16M4 12h16M4 18h16"
      />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6"
      [class.hidden]="!isMenuOpen"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </button>

  <!-- Mobile Menu -->
  <div
    class="absolute right-0 top-full max-w-fit border-t border-gray-800 bg-gray-900 md:hidden"
    [class.hidden]="!isMenuOpen"
    [class.block]="isMenuOpen"
  >
    <div class="flex flex-col justify-end space-y-4 p-4">
      <ul class="flex flex-col space-y-4">
        @for (item of navItems; track $index) {
          <li>
            <a
              [routerLink]="item.link"
              class="block py-2 text-bright hover:text-white"
            >
              {{ item.label }}
            </a>
          </li>
        }
      </ul>
      <div class="flex flex-col space-y-4 border-t border-gray-800 pt-4">
        <quiz-ui-button> Button </quiz-ui-button>
        <quiz-ui-button> Button </quiz-ui-button>
      </div>
    </div>
  </div>
</nav>
