<div class="absolute p-5">
  <quiz-ui-button variant="ghost" route="/admin"
    >Back to users list</quiz-ui-button
  >
</div>

<div
  class="flex min-h-screen items-center justify-center bg-primary p-6 text-white"
>
  <div class="w-full max-w-lg rounded-lg bg-gray-800 p-6 shadow-lg">
    <h2 class="mb-4 text-center text-xl font-bold">
      User Profile full information
    </h2>

    <div class="space-y-2">
      <p>
        <span class="font-semibold">Name:</span> {{ user()?.first_name }}
        {{ user()?.last_name }}
      </p>
      <p><span class="font-semibold">Email:</span> {{ user()?.email }}</p>
      <p>
        <span class="font-semibold">Date of Birth:</span>
        {{ user()?.dob }}
      </p>
      <p>
        <span class="font-semibold">Interests:</span>
        {{ user()?.interests }}
      </p>
    </div>

    <h3 class="mt-4 text-center text-lg font-semibold">Statistics</h3>

    @if (userStatistic(); as stats) {
      <div class="space-y-5">
        <p>
          <span class="font-semibold">Quizzes Completed:</span>
          {{ stats.numberOfQuizzes }}
        </p>
        <p>
          <span class="font-semibold">Questions:</span>
          {{ stats.numberOfAllQuestions }}
        </p>
        <p>
          <span class="font-semibold">Avg Time per Quiz:</span>
          {{ stats.averageTimePerOneQuiz | timeFormat }}
        </p>
      </div>
      <div class="mt-4 rounded-lg bg-white p-4">
        <quiz-ui-donut-chart [userStatistic]="stats"></quiz-ui-donut-chart>
      </div>
    } @else {
      <p class="text-center text-yellow-300">
        No statistics available for this user yet!
      </p>
    }
  </div>
</div>
